proactive-integration/src/main/resources/schemas/examResult.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dob" type="xs:date"/>
  <xs:element name="percentage" type="xs:float"/>
  <xs:element name="studentName" type="xs:string"/>
  <xs:element name="ExamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dob"/>
        <xs:element ref="percentage"/>
        <xs:element ref="studentName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversityExamResultList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ExamResult" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>